@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

*, *::before, *::after {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}
body {
  font: 400 16px/120% "Rubik", sans-serif;
  color: #353131;
  padding: 2em 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}
h1, p {
  text-align: center;
  color: #141301;
  opacity: 0.9;
}
h1 {
  text-transform: uppercase;
  font: bold 34px/120% Georgia, serif;
}
section {
  margin-top: 1em;
  padding: 0 2em 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
input[type="number"] {
  height: 2.2em;
  width: 200px;
  font-size: 1em;
  min-width: 100%;
  padding: 10px;
  border: 2px solid #353131;
  border-radius: 15px;
  outline: none;
  margin: 1em 0 0;
}
input:focus {
  border: 2px solid #353131;
}
input::placeholder{
  color: #353131;
  font-size: 15px;
}
select {
  height: 30px;
  width: 200px;
  font: 400 14px/120% "Rubik", sans-serif;
  background-color: #353131;
  color: rgb(235, 235, 235);
  border: 1px solid #353131;
  border-radius: 5px;
  outline: none;
  padding: 0.4em;
  margin: 1em 0;
}
@media only screen and (max-width: 426px) {
  h1 {
    font-size: 24px;
  }
  p, input[type="number"], input::placeholder {
    font-size: 14px;
  }
}
